.total_f2 {
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 0.5rem 0;
    }

    #order_total {
        border-top: 1px solid #e5e5e5;
    }

    .monetary_field {
        font-weight: bold;
        color: #000;
    }
}
