.list_filters_fo {
  padding: 1rem 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f8f9fa;

  .btn-outline-secondary {
    color: #333;
    border-color: #ccc;
    background-color: #fff;
    font-weight: 500;

    &:hover {
      color: #16a2ff;
      border-color: #4cbb17;
    }
  }

  .dropdown-menu {
    min-width: 10rem;

    .dropdown-item {
      color: #333;

      &:hover {
        background-color: #f1f1f1;
        color: #4cbb17;
      }
    }
  }
}
