.section_desc_disc {
  &.info-section-dd {
    margin-bottom: 1.5rem;

    .nav-tabs {
      border-bottom: 2px solid #dee2e6;
      .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #333;
        &.active {
          color: #4cbb17;
          border-color: #4cbb17 #4cbb17 #fff;
        }
      }
    }

    .tab-content {
      border-radius: 0.25rem;
      background-color: #fff;
      padding: 1rem;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9rem;
      color: #444;
    }
  }
}