.place_into_bar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  font-size: 0.95rem;

  i {
    color: #6c757d;
  }

  span.fw-bold {
    color: #4cbb17;
  }

  .text-muted.small {
    font-size: 0.85rem;
  }
}
